.pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    list-style: none;
    outline: none;
}

.pagination > li:first-child,
.pagination > li:first-child > a,
.pagination > li:last-child,
.pagination > li:last-child > a {
    border-radius: 10px;
}

.pagination > li > a {
    border-radius: 50%;
    padding: 5px 15px;
    margin: 3px;
    outline: none;
    cursor: pointer;
}

.pagination > li > a:hover {
    background: #c5c7b7;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #fff;
}
