@media(max-width: 800px) {
    #showToggle .btn {
        margin-top: 0.5rem;
    }

    #secChartTableRow {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 2rem;
    }

    #secChartCol .recharts-responsive-container {
        min-height: 100vh;
    }

    #secChartTableRow .col table {
        width: 100%!important;
    }

    @media(orientation: landscape) {
        #secChartCol {
            max-width: 62%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

svg {
    overflow: visible;
}
