/* body */
body {
  background: rgba(248,249,250,1);
}

/* content */
#content {
  padding-bottom: 2%;
  background: beige;
  margin-top: 56px;
  min-height: 86.3vh;
}

/* disable underline of links on hover */
a:hover {
  text-decoration: none!important;
}
